body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffdab9; /* Peach color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

header:hover {
    transform: scale(1.1);
}

section {
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add this section at the end of your style.css file */

.dark-mode body {
    background-color: #333;
    color: #fff;
}

.dark-mode header {
    background-color: #555;
}

.dark-mode section {
    background-color: #444;
    color: #fff;
}

.dark-mode footer {
    background-color: #555;
    color: #fff;
}
